@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    background: white !important;
    color: #1D2129;
    font-size: 14px;
    line-height: 1.6;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
