@layer tailwind-base, antd;
@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

:root {
    --sider-width: 232px;
    --sider-padding: 232px;
}
@media (max-width: 1919px) {
    :root {
        --sider-width: 150px;
        --sider-padding: 150px;
    }
  }

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    background: white !important;
    color: #1D2129;
    font-size: 14px;
    line-height: 1.6;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
